<!DOCTYPE html>
<html>
    <head>
        <title>記事投稿</title>
    </head>
    <body>
        <h1>記事を投稿する</h1>

        <form method="post">
            {% csrf_token %}
            <br>
            {{ form }}
            <br>
            <button type="submit">投稿</button>

        </form>
        <button onclick="location.href='../'">トップページ！</button>

        <h1>投稿した記事</h1>
        {% for post in posts %}
            <div>
                <h2>{{ post.title }}</h2>
                <p>{{ post.content }}</p>
            </div>
            <hr>
        {% endfor %}
    </body>
</html>
